{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% load plotly_dash %}
<h1> Home Page </h1>>

    <div class="{% plotly_class name='home' %} card" style="height: 100%; width: 100%">
    {% plotly_app name='home' ratio=0.45 %} 
    </div>

    <div class="{% plotly_class name='temp' %}" style="height: 100%; width: 50%">
    {% plotly_app name='temp' ratio=0.75 %} 
    </div>

    <div class="{% plotly_class name='bar' %} " style="height: 100%; width: 50%">
    {% plotly_app name='bar' ratio=0.75 %} 
    </div>

    <div class="{% plotly_class name='datatable' %} " style="height: 100%; width: 100%">
    {% plotly_app name='datatable' ratio=0.55 %} 
    </div> 
    
    
    <!-- <div>
    {{plot1 | safe}} 
    </div>> -->

{% endblock %} 